.containerNav {
  text-align: center;
  margin:auto;
  display:flex;
}

.navLink {
  padding: 10px;
  background-color: rgb(7, 7, 7);
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  flex:1;
  border: 1px solid white;
}

.containerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 31, 31);
  padding: 10px;
  border: 1px solid white;
}

.containerTop div{
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 15px;
  background-color: white;
  border-radius: 20px;
  text-transform: uppercase;
}

.containerTop div img{
  width: 35px;
}

.containerTop h3{
 color: white;
 margin-left: 15px;
}
